.btn {
  padding: 0.375rem 1rem;
  border-radius: $border-radius;
}
.button-primary {
  border-color: $color-brand-primary;
  border-radius: $border-radius;
  color: $color-white;
  background-color: $color-brand-primary;
  &:hover {
    border-color: $color-brand-primary;
    background-color: $color-brand-primary;
    color: $color-white;
  }
  
  &--light {
    color: $color-brand-primary;
    border-color: $color-brand-primary;
    background-color: $color-white;

    &:hover {
      color: $color-brand-primary;
      border-color: $color-brand-primary;
      background-color: $color-white;
    }
  }

}

.button-secondary {
  border-color: $color-brand-secondary;
  border-radius: $border-radius;
  color: $color-white;
  background-color: $color-brand-secondary;
  &:hover {
    border-color: $color-brand-secondary;
    background-color: $color-brand-secondary;
    color: $color-white;
  }
  
  &--light {
    color: $color-brand-secondary;
    border-color: $color-brand-secondary;
    background-color: $color-white;
    &:hover {
      color: $color-brand-secondary;
      border-color: $color-brand-secondary;
      background-color: $color-white;
    }
  }
}

.button-white {
  border-color: $color-brand-primary;
  border-radius: $border-radius;
  color: $color-brand-primary;
  background-color: $color-white;
  &:hover {
    border-color: $color-brand-primary;
    color: $color-brand-primary;
    background-color: $color-white;
  }
}