@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.bg-custom-white {
  background-color: $color-white;
}

.color-primary {
  color: $color-brand-primary
}
.color-secondary {
  color: $color-brand-secondary
}

.bg-custom-primary {
  background-color: $color-brand-primary;
}
.bg-custom-secondary {
  background-color: $color-brand-secondary;
}
.bg-custom-secondary-light{
  background-color: $color-brand-secondary-light;
}

.color-white {
  color: $color-white;
}