@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.bg-custom-white {
  background-color: $color-white;
}

.color-default {
  color: $color-text-default;

  &:hover {
    color: $color-text-default;
  }
}
.color-primary {
  color: $color-brand-primary;

  &:hover {
    color: $color-brand-primary;
  }
}
.color-secondary {
  color: $color-brand-secondary
}
a.color-secondary {
  color: $color-brand-secondary;

  &:hover {
    color: $color-brand-secondary;
  }
}
.color-primary-light {
  color: $color-brand-primary-light;

  &:hover {
    color: $color-brand-primary-light;
  }
}

.bg-custom-primary {
  background-color: $color-brand-primary;
}
.bg-custom-secondary {
  background-color: $color-brand-secondary;
}
.bg-custom-secondary-light{
  background-color: $color-brand-secondary-light;
}
.bg-custom-light{
  background-color: $color-brand-primary-lighter;
}

.color-white {
  color: $color-white;
}