@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$color-brand-primary: #1D183D;
$color-brand-primary-light: #3B3B3B;
$color-brand-secondary: #9CD90D;
$color-brand-secondary-light: #CDF277;
$color-gray-light: #8C899C;
$color-white: #FFFFFF;

.bg-custom-white {
  background-color: $color-white;
}

.color-primary {
  color: $color-brand-primary
}
.color-secondary {
  color: $color-brand-secondary
}

.bg-custom-secondary {
  background-color: $color-brand-secondary;
}

.color-white {
  color: $color-white;
}