@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$font-family: 'Open sans', sans-serif;

body {
  font-family: $font-family;
}

.text-normal { font-size: $size-text-normal; }
.text-secondary { font-size: $size-text-secondary; }
.text-lg { font-size: $size-text-lg; }
.text-xl { font-size: $size-text-xl; }
.text-sm { font-size: $size-text-sm; }
.text-bold { font-weight: bold }

.icon-lg {
  font-size: 4rem;
}

h1 {
  font-size: $size-text-xl;
}

h1, h2, h3, h4 {
  font-weight: bold;
  color: $color-brand-primary;
}