input.form-control, textarea.form-control{
  border-radius: 20px;

  &:focus{
    box-shadow: none;
    border-color: #ced4da;
  }

  &--primary {
    border-color: $color-brand-primary;

    &:focus{
      box-shadow: none;
      border-color: $color-brand-primary;
    }
  }
}