$size-text-normal: 18px;
$size-text-secondary: 16px;
$size-text-sm: 14px;
$size-text-lg: 20px;
$size-text-xl: 30px;

$color-brand-primary: #1D183D;
$color-brand-primary-light: #8C899C;
$color-brand-primary-lighter: #eeebf0;
$color-brand-secondary: #9CD90D;
$color-brand-secondary-light: #CDF277;
// $color-gray-light: #8C899C;
$color-white: #FFFFFF;
// $color-gray-light: #F7F7F7;
$color-gray-light: #F1F1F1;

$border-radius: 20px;

$pagination-active-bg: $color-brand-primary;